:root{
    --negro:#1f1f1f;
    --blanco: rgb(230, 230, 230);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: var(--negro);
}
body {
    padding-top: 50px;
}

main {
    /* margin-top: 70px; */
    /* background-color: #0a0a0a ;
    color: white; */
}

.card {
    width: 18rem;
    border: solid 1px;
    padding: 1%;
    border-radius: .5em;
    margin-bottom: 1.5rem;
}

.card-img-top {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin: 0px 0 5px 0;
}

.comprar {
    background-color: #272727;
    color: var(--blanco);
}

.comprar:hover {
    background-color: rgb(212, 212, 212);
    color: var(--negro);
}

.principal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
    align-content: flex-start;
    column-gap: 1rem;
}

#altura_caja{
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*                footer                   */

.footer {
    height: 5rem;
    background-color: #272727;
    text-align: center;

}

.fa {
    margin: 1rem;
    color: white;
}

/* REVISAR BIEN Y VERIFICAR TODO ESTO DE NUEVO */
@media(max-width: 800px) {
    .principal {
        width: 95%;
        justify-content: space-around;
        column-gap: 0.5rem;
    }
}